*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$bgcol: rgb(251,252,251);

body{
  background-color: $bgcol;
  overflow: hidden;
}

#app{
  display: flex;
  justify-content: center;
  margin-inline: 50px;
  flex-direction: column;
  .title{
    color: rgb(180, 180, 180);
    font-size: 65px;
    font-family: monospace;
    margin: 72px 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    transition-duration: 120ms;
    transition-timing-function: ease-out;
    transform: rotate(-15deg);
    user-select: none;
  }
  h1:hover{
    color: rgb(30, 30, 30);
    transform: none;
  }
  .container{
    display: flex;
    position: absolute;
    top: 25%;
    flex-direction: column;
    color: rgb(130, 130, 130);
    font-size: 28px;
    font-family: monospace;
    list-style: none;
    .wrapper{
      user-select: none;
      display: flex;
      flex-direction: column;
      .str{
        font-size: 40px;
        font-family: monospace;
        color: rgb(30, 30, 30);
        user-select: text;
        padding-inline: 20px;
      }
      .str::selection{
        color: rgb(230, 230, 230);
        background-color: rgb(70, 70, 70);
      }
      .set-region{
        position: absolute;
        top: 0;
      }
    }
  }
  #setRegion{
    display: block;
    height: 32px;
    width: 32px;
    cursor: pointer;
    position: absolute;
    top: 202.5px;
    left: 132.5px;
  }
  #mainLogo{
    position: absolute;
    transform: scale(1.1);
    top: -120px;
    left: 30%;
    user-select: none;
  }
}

.setrg{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0;
  width: 450px;
  height: 80px;
  border-top: none;
  box-shadow: 0 2px 8px 2px rgba(black, 0.7);
  border-radius: 8px;
  position: absolute;
  bottom: 48.5%;
  left: 12%;
  text-align: center;
  padding-inline: 10px;
  .submit{
    color: rgb(30, 30, 30);
    font-size: 24px;
    font-family: monospace;
    user-select: none;
    border: 2px solid black;
    border-radius: 20px;
    padding-inline: 10px;
    background-color: $bgcol;
    cursor: pointer;
  }
  input{
    padding-inline: 20px;
  }
  #searchPole{
    font-size: 20px;
    font-family: monospace;
    width: 60%;
    height: 40px;
    border-radius: 12px;
    &::selection{
      color: rgb(230, 230, 230);
      background-color: rgb(70, 70, 70);
    }
  }
}

.active{
  opacity: 1;
  animation: sudden 100ms linear;
}

@keyframes sudden{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 50%;
  }
  100%{
    opacity: 100%;
  }
}
